<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" href ="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help Page</title>
    <h1>Help Page</h1>
    <p>Contact: {{message}}</p>
</head>
<body>

</body>
</html>